.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #202334;
  border-radius: 7px;
}

.imagenes_Skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #202334;
  border-radius: 7px;
  padding: 10px;
}

.imagenes_certificates {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.img_principal {
  width: 150px;
}

.img_certificates {
  width: 400px;
  min-height: 300px;
  margin: 15px;
  border-radius: 7px;
  transition: transform 0.5s ease;
  /* Ajusta la transición para que sea más suave */
}

/* .img_certificates:hover {
  transform: scale(1.1); 
} */

.img_skills {
  min-width: 10px;
  max-height: 35px;
  margin: 10px;
  text-align: center;

}

.img_proyects {
  width: 100%;
  min-height: 300px;

}

/* .proyectContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
} */
.carouselWrapper {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.proyectContainer {
  width: 100%;
  max-width: 1200px;
  /* o lo que quieras como tope en pantallas grandes */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.proyect {

  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #202334;
}


.divContainer {
  padding: 20px;
}

.divContainerTools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 5px;

}

.black-button {
  background-color: black;
  border-color: black;
  color: rgb(10, 10, 10);
}

p {
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}

h3 {
  text-align: center;
  margin: 10px;
  color: yellow;
}

h1 {
  font-size: 24px;

  text-align: center;
  color: yellow;
  margin: 5px;
  text-decoration: underline;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #c7c7c7;
}

p {
  font-size: 15px;
  text-align: center;

  color: #e0e0e0;
  /* Color claro para el texto debajo de las imágenes */
}

.dark {
  background-color: #292c3E;
  color: white;
}

.light {
  background-color: #f5f5f5;
  color: black;
}

.light .imagenes_Skills {
  background-color: #c7c7c7;
}

.light .proyect {
  background-color: #c7c7c7;
}

.light .imagenes {
  background-color: #c7c7c7;
  border-radius: 7px;
}

/* Estilos para el tema claro */
.light h1,
.light h3,
.light h4,
.light p {
  color: black;
}

/* Estilos para el tema oscuro */

.dark h4,
.dark p {
  color: white;
}

.flex {
  display: flex;
  min-width: 600px;

}

@media screen and (max-width: 1300px) {


  .carouselWrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;

  }

  .imagenes_certificates {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .img_certificates {
    width: 300px;
    min-height: 250px;
    margin: 15px;
    border-radius: 7px;

  }


  .flex {
    display: block;
    /* o grid, inline-block, según lo que necesites */
  }

  p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
  }

  h1 {
    font-size: 20px;
    /* Tamaño moderado */
    margin-top: 10px;
    /* Espacio debajo para separar del contenido siguiente */
    text-decoration: underline;
  }
}


@media screen and (max-width: 900px) {
  .flex {
    display: block;
    /* o grid, inline-block, según lo que necesites */
  }

  .divContainerTools {
    margin: 0%;
    flex-direction: none;

  }

  .img_skills {
    margin: 0 auto;
  }

  .img_certificates {
    width: 250px;
    min-height: 200px;
  }

  .proyect {
    /* width: 100%; */
    /* Tamaño fijo para todas las tarjetas */
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Para que el contenido dentro se distribuya adecuadamente */
    flex-wrap: wrap;
    /* Para que las tarjetas se ajusten en múltiples filas si hay muchas */
    background-color: #202334;

  }

  .carouselWrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .carouselWrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }

  .flex {
    min-width: 700px;

  }


}

@media screen and (max-width: 660px) {
  .carouselWrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .divContainerTools {
    margin: 3px;
    flex-direction: none;

  }

  .imagenes_Skills {
    display: flex;
    flex-wrap: wrap;
  }

  .imagenes_certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 200px;
  }

  .img_principal {
    width: 100px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
  }

  .flex {

    min-width: 400px;

  }

}

@media screen and (max-width: 550px) {
  .imagenes {
    display: flex;
    flex-direction: column;
  }

  .proyect {
    margin: 5px auto;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #202334;
    width: 400px;
  }

  .img_proyects {

    width: 700px;
    margin-bottom: 7px;
    width: 100%;

  }

  .carouselWrapper {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

}


@media screen and (max-width: 420px) {
  .carouselWrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
 
    .proyect {
    margin: 5px auto;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #202334;
    width: 350px;
  }

  .divContainer{
    padding: 7px;
  }

  
  .flex {

    min-width: 350px;

  }
}