.h1 {
    text-align: center;
    color: yellow;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px;
    background-color: #202334;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.registroBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.inputRegistro {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.dark {
    background-color: #292c3E;
    color: white;
}

.light {
    background-color: #f5f5f5;
    color: black;
}

/* Estilos para el tema claro */
.light label,
.light a,
.light h1,
.light h3,
.light h4,
.light p {

    color: black;
}

/* Estilos para el tema oscuro */
.dark h4,
.dark p {
    color: white;
}

.light .registro {
    background-color: #c7c7c7;
}

.fullScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1100px) {
    .registro {
        width: 80%;
    }
}

@media screen and (max-width:950px) {
    .registro {
        width: 80%;

    }
}