* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  
}
nav {
  background-color: #1c1f30;
  /* height: 100vh;  */
} 


@media screen and (max-width: 1200px) {
  .app-layout {
    display: grid;
    grid-template-columns: 300px 1fr;  
    height: auto;  
  }
}

/* Para pantallas pequeñas (900px o menos) */
@media screen and (max-width: 900px) {
  .app-layout {
    display: block; 
    height: auto;  
  }
}



